@import "normalize.css"; /*CSS Reset por Nicolas Gallagher*/
:root { /*Document colors*/
  --primary-color: #162719;
  --secondary-color: #eae9f2;
  --color-three: #080f09;
  --color-four: #111d13;
  --color-five: #1c311f;
  --color-six: #423b68;
}
html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }
/* Anotações sobre cores do documento - estilo noturno
  cor principal - 3°cor mais escura - fundo do texto: #162719 verde 20%
  cor secundária - cor mais clara, contraste com a principal - fonte e outros: #eae9f2 azul -90% , #e3efe5 verde -90%
  cor 3 - cor mais escura - fundo maior: #080f09 verde 70%
  cor 4 - 2° cor mais escura - fundo menor: #111d13 verde 40%
  cor 5 - 4° cor mais escura - cor de realce: #1c311f verde 0%
  cor 6 - cor para para bordas destaques: #423b68 roxo 0%, #081D2D azul 0%, #534B16 dourado 0%, #9890c0 roxo -50%, #acd0b1 verde -70%, #acd3ef azul metal -70%
*/
.clear { clear: both; }
body { background: var(--color-three); }
.all {
  background: var(--color-four);
  width: 65%;
  max-width: 1248px; /*65% de 1920 - largura de tela full hd*/
  min-width: 887.9px; /*65% de 1366 - largura de tela hd*/
  height: 90vh;
  margin: 10vh 17.5% 0; /*17.5 x 2 = 35 - centralizar a box*/
  box-shadow: var(--color-six) 0 0 10px 1px;
  border: 5px solid var(--color-four);
  border-radius: 2vmin;
  padding: 1%;
  font: 105%/1.2 "Noto Sans", sans-serif;
  text-align: center;
  color: var(--secondary-color);
}
main {
  width: 80%;
  float: right;
}
section {
  background: var(--primary-color);
  border: 5px solid var(--primary-color);
  border-radius:2vmin;
  padding: 2%
}
p {
  text-align: start;
  line-height: 1;
}
a {
  text-decoration: none;
  color: var(--secondary-color);
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#author-image {
  width: 32%;
  max-width: 319.4px; /*manter proporção das boxes acenstrais*/
  min-width: 227.3px;
  float: right;
  box-shadow: var(--color-six) 0 0 10px 3px;
  display: flex;
  align-items: center;
  border-radius: 2vmin;
}
.contact {
  width: 62%;
  float: left;
  align-items: center;
}
.contact a:hover {
  background: var(--color-six);
  border-radius: 1vmin;
}
.y-bar {
  background: var(--color-six);
  width: 0.1%;
  height: 91%;
  float: left;
  margin: 0 1%;
  border-radius: 2vmin;
}
.sidebar {
  background: var(--primary-color);
  width: 17.9%;
  height: 91%; /*considerando o padding do da box pai*/
  float: left;
  border: 5px solid var(--primary-color);
  border-radius: 2vmin;
  padding: 2% 0;
  font-size: 95%;
}
.sidebar a { display: block; }
.assistant-sidebar { margin: 10% 0; }
.assistant-sidebar li { padding-bottom: 1%; }
.assistant-sidebar a { padding: 4% 2%; }
.current {
  background: var(--color-six);
  border-radius: 1vmin;
}
.assistant-sidebar a:hover {
  background: var(--color-five);
  border-radius: 1vmin;
  padding: 4% 2%;
}
.current:hover { color: var(--color-six); }
.page-bottom footer {
  background: var(--color-four);
  height: 5%;
  border-radius: 0 0 2vmin 2vmin;
  padding: 2%;
}
